<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}">个人中心</title>
    <link rel=" stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js" type="application/javascript"></script>


</head>
<script type="application/javascript">
    window.onload = function () {
        var closable =window.localStorage.getItem("closable");
        console.log(closable==true);
        if (closable=="true") {
            window.close();
            window.localStorage.removeItem("closable");
        }

    }
</script>
<body class="bady-color">
<div th:insert="nav :: nav"></div>
<div class="container-fluid mian profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${question.title}"></span></h4>
                <span class="index_tag">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span>
               </span>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}">
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div th:if="${session.user!=null&&session.user.id==question.creator }">
                    <a th:href="@{'/publish/'+${question.id}}" class="menu"
                    >
                <span class="glyphicon glyphicon-edit" aria-hidden="true">
            </span>
                        编辑</a>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
            <!--回复-->
            <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong th:text="${question.commentCount}+' 个回复'"></strong>
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: auto;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object index_image img-rounded" th:src="${question.user.avatarUrl}"
                                 alt="海贼王">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading ">
                            <span th:text="${question.user.name}"></span>

                        </h5>
                        <div>这是一个回复的正文</div>
                        <div class="menu_comment">
                            <span class="glyphicon glyphicon-thumbs-up icon" ></span>
                            <span class="glyphicon glyphicon-comment icon" ></span>
                            <span class="pull-right" th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            </div>


            <!--回复框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">

                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object index_image img-rounded" th:src="${session.user==null}?
                             '/image/user.jpg':${session.user.avatarUrl}"

                                 alt="海贼王">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading ">
                            <span th:text="${session.user==null}?'未登录':${session.user.name}"></span>
                        </h5>
                    </div>

                </div>
                <input class="hidden" id="question_id" th:value="${question.id}">

                <textarea class="form-control comment " rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-omment" onclick="post_comment()">回复评论</button>
            </div>

        </div>

        <!--右侧信息-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" clas="title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object index_image img-rounded" th:src="${question.user.avatarUrl}"
                                 alt="海贼王">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading ">
                            <span th:text="${question.user.name}"></span>
                        </h4>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>相关问题</h4>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>